<h2 class="title">Video Uploader</h2>

{{#if videoUrl}}
  <div class="video-container">
    <video src={{videoUrl}} controls class="video-player">
      Your browser does not support the <code>video</code> element.
    </video>
  </div>
{{/if}}

{{#if error}}
  <div class="errors">{{error}}</div>
{{/if}}

{{#if loading}}
  <div class="loading">{{progress}}%</div>
{{/if}}

{{file-upload videoUrl=videoUrl progress=progress loading=loading error=error}}
