<h2 id="title">Video Uploader</h2>

{{#if videoUrl}}
  <video src={{videoUrl}} controls>
    Your browser does not support the <code>video</code> element.
  </video>
{{/if}}

{{file-upload videoUrl=videoUrl progress=progress loading=loading}}
